body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  size: 1%;
}
.button-link {
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 10px;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 100px;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-left: 5%;
  padding: 5px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
#Full-Stack-Developer {
  border-left: 7px solid tomato;
}
#Baby-Web-Developer {
  border-left: 7px solid blue;
}
footer {
  text-align: center;
  padding: 10px;
}
